* {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

body {
  left: 0;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* MAIN SECTION */

.main {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 880px;
  height: 100%;
  max-height: 1200px;
  overflow: hidden;
}

.main__bg {
  position: absolute;
  right: -1040px;
  top: -880px;
  width: 2100px;
  height: 1190px;
  min-height: 900px;

  border-radius: 0 0 0 150px;
  background-image: linear-gradient(to left top, #7e0cc8, #8c24d3, #9a35de, #a744e9, #b553f4);
  box-shadow: 5px 11px 50px 10px rgba(125, 12, 200, 0.384);

  transform: rotate(-30deg);
  z-index: -9998;
}

.main__container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100%;
  max-width: 1200px;
  max-height: 1200px;

  margin: 60px 50px 0px 50px;
}

.main__content-intro {
  max-width: 450px;
}

.main__content-intro > p {
  font-family: "Bungee", cursive;
  font-weight: 400;
  line-height: 30px;
  font-size: 2.6rem;
}

.main__content-intro > span {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.main__content-img > img {
  width: 85%;
  height: auto;
  max-width: 700px;
  margin: -150px 0 0 100px;

  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@media screen and (max-width: 1100px) {
  .main__bg {
    width: 100%;
    height: 100%;
    top: -50px;

    border-radius: 0 0 150px 0;

    right: 0;
    transform: rotate(0);
  }

  .main__content-img > img {
    width: 100%;
    margin: 0;
  }

  .main__content-intro > p {
    color: #fff;
  }
}

@media screen and (max-width: 900px) {
  .main__container {
    flex-wrap: wrap-reverse;
    margin: -15% 50px 0px 50px;
  }

  .main__content-intro > p {
    font-size: 2rem;
  }

  .main__content-img > img {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    min-height: 680px;
  }
  .main__container {
    max-height: 500px;
  }

  .main__bg {
    min-height: 725px;
  }

  .main__content-intro > p {
    font-size: 1.5rem;
  }
}

/* FEATURES SECTION */

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 110px;
}

.features__container {
  max-width: 1200px;
  display: flex;

  flex-shrink: 0; /* IE FIX */

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features__item {
  margin-left: 30px;
  margin-right: 30px;

  max-width: 300px;
  height: 270px;

  display: flex;
  flex: 0 0 auto; /*  IE FIX  */
  flex-direction: column;
  justify-content: center;
}

.features__icon {
  color: #9a35de;
  font-size: 35px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 6px 14px rgba(169, 53, 222, 0.466);
}

.ic-rotate {
  transform: rotate(-90deg);
  text-shadow: -3px 6px 14px rgba(169, 53, 222, 0.466);
}

.features__title {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin: 15px;
}

.features__text {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.features__preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* IE FIX */

  width: 100%;

  background-image: linear-gradient(to left top, #932cd8, #9d36e2, #993dd6, #ad58e6, #c774fa);
  box-shadow: 5px 11px 50px 10px rgba(125, 12, 200, 0.384);
}

.features__preview-title {
  color: #fff;
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 1.8rem;

  text-align: center;

  margin: 20px;
}

.features__imageContainer {
  max-width: 710px;
  padding: 20px;
  flex-shrink: 0; /* IE FIX */
}

.features__imageContainer > img {
  width: 100%;
  object-fit: contain;

  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Preview sample */

.features__sample-text {
  max-width: 400px;
  text-align: justify;
  padding: 20px;
}

.features__sample-text > p {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: left;
}

.features__sample-text > span {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

/* Preview sample 1 */

.features__sample1-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.features__sample1 {
  display: flex;

  flex: 0 0 auto; /*  IE FIX  */

  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 300px;
  padding: 20px;
}

.features__sample1-daily {
  align-self: flex-end;
  height: 28px;
  width: 90px;
  background-color: #fbc9c9;
  border-radius: 20px;
  text-align: center;
  padding-top: 1px;
}

.features__sample1-daily > span {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  color: #fb0d0d;
}

.features__sample1-total > span {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  color: #fb0d0d;
  font-size: 27px;
  padding: 24px;
}

.features__sample1-img {
  max-width: 290px;
  text-align: center;
}

.features__sample1-img > img {
  width: 85%;
  object-fit: contain;

  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Preview sample 2 */

.features__sample2-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 40px;
}

.features__sample2-img {
  max-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.features__sample2-img > img {
  width: 100%;
  object-fit: contain;

  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Price section */

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 200px;
}

.price__diagonal {
  width: 100%;
  background-image: linear-gradient(to left top, #7e0cc8, #8c24d3, #9a35de, #a744e9, #b553f4);
  transform: skewY(-8deg);
  border-top: 22px solid rgba(209, 208, 208, 0.637);
  border-bottom: 22px solid rgba(209, 208, 208, 0.637);
  box-shadow: 5px 11px 50px 10px rgba(125, 12, 200, 0.418);
}

.price__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 70px 0px;

  transform: skewY(8deg);
}

.price__content > div:nth-child(2) {
  transform: scale(1.1);
}

@media screen and (max-width: 856px) {
  .price__content > div:nth-child(2) {
    transform: scale(1);
  }
}

.price__content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  width: 220px;
  min-height: 310px;
  margin: 30px;
  padding: 20px 0 0 0;

  border-radius: 40px;
  box-shadow: 5px 16px 50px -3px rgba(0, 0, 0, 0.41);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.price__content-card > span {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #a744e9;
}

.price__content-card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price__content-card-list > span > small {
  color: #a744e9;
}

.price__content-card-list > span {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  color: rgb(151, 148, 148);
}

.price__content-card > p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #a744e9;
  margin-top: 0px;
}

/* Download section */

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 220px;
}

.download__container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.download__image {
  max-width: 280px;
  max-height: 250px;
  overflow: hidden;
  margin: 20px;
}

.download__image > img {
  width: 100%;
  object-fit: contain;

  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.download__buttons-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 440px) {
  .download__buttons-area {
    align-items: center;
  }
}

.download__buttons-area > span {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  margin: 10px;
}

.download__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.download__buttons > a {
  padding: 10px;
}

.download__buttons > a > img {
  width: 170px;

  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.ieError {
  background-color: #9a10f6;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ieError > span {
  color: white;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
